p {
    color: darkblue;
    text-align: center;
    font-size: 20px;
  }

.box-one {
    color: red;
  }

.box-two {
    color: #008080; /* teal */
  }

.box-three {
    color: orange;
  }
  
.styled-text {
    color: purple;
    text-align: center;
  }

  